#sctcontenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative; /*Define el elemento de referencia*/
}

.morado {
    width: 800px;
    height: 500px;
    background: #D6A2E8;
    border: 3px solid #c56cf0;
    display: flex; /*Para centrar los cuadros dentro*/
    justify-content: center;
    align-items: center;
    position: relative;
}

.verde {
    width: 400px;
    height: 300px;
    background: #32ff7e;
    border: 3px solid #27ae60;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /*Se posiciona con respecto al elemento de referencia*/
}

.rosa {
    width: 100px;
    height: 100px;
    background: #ffcccc;
    border: 3px solid #ffb8b8;
    position: absolute;
}